ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    text-decoration: none;
    color: white;
}
.spacer{
    flex: 1 1 auto;
}
a{
    text-decoration: none;
    color: white;
}